<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>strona główna</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Cześć!</h1>
<h2>Zalogowany jako: <label th:text="${email}"></label></h2>
<h2 th:text="${errorMessage}" class="error-message">Błąd: </h2>
<h2 th:text="${successMessage}" class="success-message">Sukces! </h2>
Wybierz opcje:
<br>
<a href="/register" > Zarejestruj się</a> <br>
<a href="/login"> Zaloguj się</a> <br>
<a href="/trainer"> Stwórz trenera</a> <br>
<a href="/pack"> Otwórz paczkę</a> <br>
<a href="/market/sell"> Twoje karty</a> <br>
<a href="/market/buy"> Kup karty</a> <br>
<a href="/coin-shop"> Kup monety</a> <br>
<a href="/statistics"> Profil</a> <br>
<a href="/logout"> Wyloguj się</a>
</body>
</html>