<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>strona główna</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Cześć!</h1>
<h2>Zalogowany jako: <label th:text="${email}"></label></h2>
<h2 th:text="${errorMessage}" class="error-message">Błąd: </h2>
<h2 th:text="${successMessage}" class="success-message">Sukces! </h2>
Wybierz opcje:
<div th:if="${!isLogged}"> <a href="/register" > Zarejestruj się</a> </div>
<div th:if="${!isLogged}"><a href="/login" > Zaloguj się</a> </div>
<div th:if="${isLogged}"><a href="/pack" > <b>Otwórz paczkę</b></a> </div>
<div th:if="${isLogged}"><a href="/market/sell" > Twoje karty</a> </div>
<div th:if="${isLogged}"><a href="/market/buy" > Kup karty</a> </div>
<div th:if="${isLogged}"><a href="/coin-shop" > Kup monety</a> </div>
<!--<a href="/statistics"> Profil</a> -->
<div th:if="${isLogged}"><a href="/logout" > Wyloguj się</a></div>
</body>
</html>