<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>strona główna</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Cześć!</h1>
<h2>Zalogowany jako: <label th:text="${email}"></label></h2>
<h2 th:text="${errorMessage}" class="error-message">Błąd: </h2>
<h2 th:text="${successMessage}" class="success-message">Sukces! </h2>
Wybierz opcje:
<br>
<a href="/register" th:if="${!isLogged}"> Zarejestruj się</a> <br>
<a href="/login" th:if="${!isLogged}"> Zaloguj się</a> <br>
<a href="/pack" th:if="${isLogged}"> <b>Otwórz paczkę</b></a> <br>
<a href="/market/sell" th:if="${isLogged}"> Twoje karty</a> <br>
<a href="/market/buy" th:if="${isLogged}"> Kup karty</a> <br>
<a href="/coin-shop" th:if="${isLogged}"> Kup monety</a> <br>
<!--<a href="/statistics"> Profil</a> <br>-->
<a href="/logout" th:if="${isLogged}"> Wyloguj się</a>
</body>
</html>