<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formularz logowania</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Logowanie</h1><br>
<form action="/login" method="post">
    <span th:if="${error}">Nieprawidłowe dane logowania</span></br>
    <input type="email" name="username">
    <input type="password" name="password">
    <input type="submit" value="Zaloguj" >
</form><br>
<a href="/register">Zarejestruj się</a><br>
<a href="/">Powrót do strony głównej</a>
</body>
</html>

